<h1><%= t(:Shops) %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th><%= t(:Name) %></th>
    <th><%= t(:Description) %></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= link_to t(:Show), shop %></td>
    <td><%= link_to t(:Edit), edit_shop_path(shop) %></td>
    <td><%= link_to t(:Destroy), shop, :confirm => t(:Destroy_Confirm), :method => :delete %></td>
    <td><%= shop.name %></td>
    <td><%= shop.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new, new_shop_path %>
