<%= begin_view_index(:Shops) %>

<table class="datatable">
  <thead>
    <tr>
      <th></th>
      <th><%= t(:Name) %></th>
      <th><%= t(:Description) %></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
    <tr>
      <td><%= link_to_show_edit_delete(shop,edit_shop_path(shop)) %></td>
      <td><%= shop.name %></td>
      <td><%= shop.description[0,30] %></td>
    </tr>
    <% end %>
  </tbody>

  <tfoot></tfoot>

</table>

<%= end_view_index(new_shop_path) %>

