<h1><%= t(:Shops) %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th><%= t(:Name) %></th>
    <th><%= t(:Description) %></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= link_to_show shop %></td>
    <td><%= link_to_edit edit_shop_path(shop) %></td>
    <td><%= link_to_destroy shop %></td>
    <td><%= shop.name %></td>
    <td><%= shop.description[0,30] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new new_shop_path %>
