<p id="notice"><%= notice %></p>

<%= h1(:Shop) %>

<%= h3(:Name) %><
<%= @shop.name %>

<%= h3(:Description) %>
<%= @shop.description %>

<%= link_to_edit edit_shop_path(@shop) %> |
<%= link_to_back shops_path %>
