<p id="notice"><%= notice %></p>

<%= begin_view_show(:Shop) %>

<%= h3(:Name) %>
<%= @shop.name %>

<%= h3(:Description) %>
<%= @shop.description %>

<%= end_view_show(shops_path,edit_shop_path(@shop)) %>
