<h1><%= t(:Users) %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th><%= t(:Name) %></th>
    <th><%= t(:Description) %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to t(:Show), user %></td>
    <td><%= link_to t(:Edit), edit_user_path(user) %></td>
    <td><%= link_to t(:Destroy), user, :confirm => t(:Destroy_Confirm), :method => :delete %></td>
    <td><%= user.name %></td> 
    <td><%= user.description[0,30] %></td> 
  </tr>
<% end %>
</table>

<br />

<%= link_to_new, new_user_path %>
