<%= begin_view_index(:Users) %>

<table class="datatable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= t(:Name) %></th>
      <th><%= t(:Description) %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to_show user %></td>
      <td><%= link_to_edit edit_user_path(user) %></td>
      <td><%= link_to_delete user %></td>
      <td><%= user.name %></td> 
      <td><%= user.description[0,30] %></td> 
    </tr>
    <% end %>
  </tbody>

  <tfoot></tfoot>

</table>

<%= end_view_index(new_user_path) %>

