<p id="notice"><%= notice %></p>

<h1><%= t(:User) %></h1> 

<h3><%= t(:Name) %></h3>
<%= @user.name %>

<h3><%= t(:Description) %></h3>
<%= @user.description %></td>

<%= link_to_edit, edit_user_path(@user) %> |
<%= link_to_back, users_path %>
