<p id="notice"><%= notice %></p>

<%= h1(:User) %> 

<%= h3(:Name) %>
<%= @user.name %>

<%= h3(:Description) %>
<%= @user.description %>

<div id="ending">
<%= link_to_back users_path %>
<%= link_to_edit edit_user_path(@user) %>
</div>

