<p id="notice"><%= notice %></p>

<%= begin_view_show(:User) %>

<%= h3(:Name) %>
<%= @user.name %>

<%= h3(:Description) %>
<%= @user.description %>

<%= end_view_show(users_path,edit_user_path(@user)) %>

