<p id="notice"><%= notice %></p>

<%= h1(:Item) %>

<%= h3(:Name) %>
<%= @item.name %>

<%= h3(:Description) %>
<%= @item.description %>

<%= h3(:Price) %>
<%= @item.price %> <%= t(:USD) %>

<%= h3(:Length) %>
<%= @item.length %> <%= t(:Meters) %>

<%= h3(:Width) %>
<%= @item.height %> <%= t(:Meters) %>

<%= h3(:Height) %>
<%= @item.height %> <%= t(:Meters) %>

<%= h3(:Volume) %>
<%= @item.volume %> <%= t(:Meters) %><sup>3</sup>

<%= h3(:Weight) %>
<%= @item.weight %> <%= t(:Grams) %>

<%= ending_view_show(items_path, edit_item_path(@item) %>

