<% item || = @item %>
<p id="notice"><%= notice %></p>

<%= begin_view_show(:Item) %>

<div class="views item show">

<div class="name">
<h1><%= item.name %></h1>
</div>

<div class="category">
<h2><%= item.category %></h2>
</div>

<div class="tags">
<h3><%= item.tags %></h3>
</div>

<% if item.paypal_listing %>
<%= render 'paypal_listing' %>
<% end %>

<div class="description">
<%= item.description %>
</div>

<div class="price">
<%= item.price %> <%= t(:USD) %>
</div>

<% if item.etsy_listing %>
<%= render 'etsy_listing' %>
<% end %>

<div class="shipping">
<%= item.shipping || item.shop.shipping %>
</div>

<div class="dimensions">
<ul>
<li><% if item.weight %>Weight: <%= item.weight %> <%= t(:Grams)  %><% end %>
<li><% if item.length %>Length: <%= item.length %> <%= t(:Meters) %><% end %>
<li><% if item.width  %>Width:  <%= item.width  %> <%= t(:Meters) %><% end %>
<li><% if item.height %>Height: <%= item.height %> <%= t(:Meters) %><% end %>
<li><% if item.volume %>Volume: <%= item.volume %> <%= t(:Meters) %><% end %>
</ul>
</div>

</div>
<%= end_view_show(items_path, edit_item_path(item)) %>

