<p id="notice"><%= notice %></p>

<%= begin_view_show(:Shopkeeper) %>

<%= h3(:Shop) %>
<%= @shopkeeper.shop.id %> <%= @shopkeeper.shop.name %>

<%= h3(:User) %>
<%= @shopkeeper.user.id %> <%= @shopkeeper.user.name %>

<%= end_view_show(shopkeepers_path, edit_shopkeeper_path(@shopkeeper)) %>


