<p id="notice"><%= notice %></p>

<%= h1(:Shopkeeper) %>

<%= h3(:Shop) %>
<%= @shopkeeper.shop.id %> <%= @shopkeeper.shop.name %>

<%= h3(:User) %>
<%= @shopkeeper.user.id %> <%= @shopkeeper.user.name %>

<%= ending_view_show(shopkeepers_path, edit_shopkeeper_path(@shopkeeper) %>


